apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    run: mongodb
  name: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        run: mongodb
        app: mongodb
      name: mongodb
    spec:
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc    
      containers:
      - image: mongo
        name: mongodb
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: mongodb_username
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: mongodb_password
        ports:
        - containerPort: 27017
        volumeMounts:
        - mountPath: "/data/db"
          name: mongo-storage
      - image: mongo-express
        name: mongoexpress
        env:
        - name: ME_CONFIG_MONGODB_ADMINUSERNAME
          value: mongodb_username
        - name: ME_CONFIG_MONGODB_ADMINPASSWORD
          value: mongodb_password
        - name: ME_CONFIG_MONGODB_SERVER
          value: mongodb
        ports:
        - containerPort: 8081
          name: mongoexpress    
