apiVersion: v1
kind: Service
metadata:
   name: mongodb
spec:
  type: NodePort
  ports:
  - port: 27017
    nodePort: 30017
    targetPort: 27017
  selector:
    run: mongodb

---
apiVersion: v1
kind: Service
metadata:
   name: mongoexpress
spec:
  type: NodePort
  ports:
  - port: 8081
    nodePort: 30082
    targetPort: 8081
  selector:
    run: mongodb

