<?xml version="1.0" encoding="UTF-8"?>

<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>

<Resource auth="Container" driverClassName="net.sourceforge.jtds.jdbc.Driver" 
			initialSize="5" 
			jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;org.apache.tomcat.jdbc.pool.interceptor.SlowQueryReportJmx(threshold=10000)" 
			dialect = "com.anamar.dialect.MSSQLDialect"
			jmxEnabled="true" logAbandoned="true" maxActive="100" maxWait="30000" 
			minEvictableIdleTimeMillis="600000" minIdle="5" name="jdbc/SemMsSql" 
			password="MSSQL_PASS" removeAbandoned="true" removeAbandonedTimeout="60" 
			testOnBorrow="true" testOnReturn="false" testWhileIdle="true" 
			timeBetweenEvictionRunsMillis="5000" type="javax.sql.DataSource" validationQuery = "SELECT 1"
			url="jdbc:jtds:sqlserver://MSSQL_ADDRS:MSSQL_PORT;databaseName=MSSQL_SEM_DB" username="MSSQL_USER" />	


<Resource auth="Container" driverClassName="net.sourceforge.jtds.jdbc.Driver"  
			initialSize="5" jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;org.apache.tomcat.jdbc.pool.interceptor.SlowQueryReportJmx(threshold=10000)" 
			dialect = "com.anamar.dialect.MSSQLDialect"
			jmxEnabled="true" logAbandoned="true" maxActive="100" maxWait="30000" 
			minEvictableIdleTimeMillis="600000" minIdle="5" name="jdbc/GanttDb" 
			password="MSSQL_PASS" removeAbandoned="true" removeAbandonedTimeout="60" 
			testOnBorrow="true" testOnReturn="false" testWhileIdle="true" 
			timeBetweenEvictionRunsMillis="5000" type="javax.sql.DataSource" validationQuery = "SELECT 1"
			url="jdbc:jtds:sqlserver://MSSQL_ADDRS:MSSQL_PORT;databaseName=MSSQL_GANTT_DB" username="MSSQL_USER" />	
	
  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector port="8090" protocol="HTTP/1.1"
			   maxHttpHeaderSize="65536"
               connectionTimeout="20000"
			   maxSwallowSize = "-1"
			   maxPostSize="-1"
                  compression="on"
           compressionMinSize="1024"
           noCompressionUserAgents="gozilla, traviata"
               redirectPort="8443" />
	
    <Engine name="Catalina" defaultHost="localhost">

      <Realm className="org.apache.catalina.realm.LockOutRealm">

        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

      </Host>
    </Engine>
  </Service>
</Server>
