<?xml version="1.0" encoding="UTF-8"?>

<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
	  <Resource name="UserDatabase" auth="Container"
                type="org.apache.catalina.UserDatabase"
                description="User database that can be updated and saved"
                factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                pathname="conf/tomcat-users.xml"/>
		<Resource
			name="jdbc/SemMsSql"
			auth="Container"
			factory="com.zaxxer.hikari.HikariJNDIFactory"
			type="javax.sql.DataSource"
			driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
			jdbcUrl="jdbc:sqlserver://MSSQL_ADDRS:MSSQL_PORT;databaseName=MSSQL_SEM_DB;encrypt=false"
			username="MSSQL_USER"
			password="MSSQL_PASS"

			maximumPoolSize="50"
			minimumIdle="20"
			idleTimeout="60000"
			maxLifetime="1800000"
			connectionTimeout="10000"
			initializationFailTimeout="5000"

			validationTimeout="5000"
			connectionTestQuery="SELECT 1"

			removeAbandoned="true"
			removeAbandonedTimeout="60"
			logAbandoned="true"

			timeBetweenEvictionRunsMillis="30000"

			jdbcInterceptors="ConnectionState;StatementFinalizer;SlowQueryReportJmx(threshold=10000)"
			jmxExport="true"
		/>
		<Resource
			name="jdbc/GanttDb"
			auth="Container"
			factory="com.zaxxer.hikari.HikariJNDIFactory"
			type="javax.sql.DataSource"
			driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver"
			jdbcUrl="jdbc:sqlserver://MSSQL_ADDRS:MSSQL_PORT;databaseName=MSSQL_GANTT_DB;encrypt=false"
			username="MSSQL_USER"
			password="MSSQL_PASS"

			maximumPoolSize="50"
			minimumIdle="20"
			idleTimeout="60000"
			maxLifetime="1800000"
			connectionTimeout="10000"
			initializationFailTimeout="5000"

			validationTimeout="5000"
			connectionTestQuery="SELECT 1"

			removeAbandoned="true"
			removeAbandonedTimeout="60"
			logAbandoned="true"

			timeBetweenEvictionRunsMillis="30000"

			jdbcInterceptors="ConnectionState;StatementFinalizer;SlowQueryReportJmx(threshold=10000)"
			jmxExport="true"
		/>

	  </GlobalNamingResources>

  <Service name="Catalina">

    <Connector port="8090" protocol="HTTP/1.1"
			   maxHttpHeaderSize="65536"
               connectionTimeout="20000"
			   maxSwallowSize = "-1"
			   maxPostSize="-1"
                  compression="on"
           compressionMinSize="1024"
           noCompressionUserAgents="gozilla, traviata"
               redirectPort="8443" />

    <Engine name="Catalina" defaultHost="localhost">

      <Realm className="org.apache.catalina.realm.LockOutRealm">

        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log" suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

      </Host>
    </Engine>
  </Service>
</Server>
